version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "logback-classic"
        # logback-classic 1.4 requires java 11+
        versions: ["1.4.x"]
        # Mockito 5 requires java 11+
      - dependency-name: "mockito-inline"
        versions: ["5.x.x"]
      - dependency-name: "mockito-junit-jupiter"
        versions: ["5.x.x"]
      - dependency-name: "mockito-core"
        versions: ["5.x.x"]
        # Pioneer 2 requires java 11+
      - dependency-name: "junit-pioneer"
        versions: [ "2.x.x" ]

  # Keep GitHub Actions up to date
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
      timezone: "UTC"
    open-pull-requests-limit: 5
