name: Run integration tests

on:
  workflow_dispatch:
    inputs:
      database:
        description: 'Database - a new one will be created if not provided'
        required: false
        default: ''
      environment:
        description: 'Environment to run the tests against'
        type: choice
        required: true
        default: 'staging'
        options:
          - dev
          - staging

jobs:
  run-integration-tests:
    runs-on: ubuntu-latest

    steps:
      - name: "Foresight: Collect Workflow Telemetry"
        uses: runforesight/foresight-workflow-kit-action@v1
        if: ${{ always() }}
      - name: Check out code
        uses: actions/checkout@v3

      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '8'
      - name: Determine env variables
        run: |
          if [ "${{ github.event.inputs.environment }}" == 'staging' ]; then
             echo "USERNAME=${{ secrets.FIREBOLT_USERNAME_STAGING }}" >> "$GITHUB_ENV"
             echo "PASSWORD=${{ secrets.FIREBOLT_PASSWORD_STAGING }}" >> "$GITHUB_ENV"
             echo "SERVICE_ACCOUNT_ID=${{ secrets.SERVICE_ACCOUNT_ID_STAGING }}" >> "$GITHUB_ENV"
             echo "SERVICE_ACCOUNT_SECRET=${{ secrets.SERVICE_ACCOUNT_SECRET_STAGING }}" >> "$GITHUB_ENV"
          else
             echo "USERNAME=${{ secrets.FIREBOLT_USERNAME_DEV }}" >> "$GITHUB_ENV"
             echo "PASSWORD=${{ secrets.FIREBOLT_PASSWORD_DEV }}" >> "$GITHUB_ENV"
             echo "SERVICE_ACCOUNT_ID=${{ secrets.SERVICE_ACCOUNT_ID_DEV }}" >> "$GITHUB_ENV"
             echo "SERVICE_ACCOUNT_SECRET=${{ secrets.SERVICE_ACCOUNT_SECRET_DEV }}" >> "$GITHUB_ENV"
          fi
      - name: Setup database and engine
        id: setup
        if: ${{ github.event.inputs.database == '' }}
        uses: firebolt-db/integration-testing-setup@master
        with:
          firebolt-username: ${{ env.USERNAME }}
          firebolt-password: ${{ env.PASSWORD }}
          api-endpoint: "api.${{ github.event.inputs.environment }}.firebolt.io"
          region: "us-east-1"
          instance-type: "B2"

      - name: Determine database name
        id: find-database-name
        run: |
          if ! [[ -z "${{ github.event.inputs.database }}" ]]; then
             echo "database_name=${{ github.event.inputs.database }}" >> $GITHUB_OUTPUT
          else
             echo "database_name=${{ steps.setup.outputs.database_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Run integration tests
        run: ./gradlew integrationTest -Ddb=${{ steps.find-database-name.outputs.database_name }} -Dapi=api.${{ github.event.inputs.environment }}.firebolt.io -Dpassword="${{ env.SERVICE_ACCOUNT_SECRET }}" -Duser="${{ env.SERVICE_ACCOUNT_ID }}" --tests=*shouldExecuteRequestWithoutTimeout*

      - name: "Foresight: Analyze Test Results"
        uses: runforesight/foresight-test-kit-action@v1
        if: success() || failure()
        with:
          test_format: JUNIT
          test_framework: JUNIT
          test_path: ./build/test-results/
          tags: |
            type:"integration"
            language:"Java"
