name: Run integration tests

on:
  workflow_dispatch:
    inputs:
      database1:
        description: 'Database (v1) - a new one will be created if not provided'
        required: false
        default: ''
      database2:
        description: 'Database (v2) - a new one will be created if not provided'
        required: false
        default: ''
      engine1:
        description: 'Engine (v1) - a new one will be created if not provided'
        required: false
      engine2:
        description: 'Engine (v2) - a new one will be created if not provided'
        required: false
      account:
        description: 'Account'
        required: true
        default: 'developer'
      run-v1:
        description: 'Run tests against Firebolt DB v1'
        required: true
        default: true
        type: choice
        options:
          - 'true'
          - 'false'
      run-v2:
        description: 'Run tests against Firebolt DB v2'
        required: true
        default: true
        type: choice
        options:
          - 'true'
          - 'false'

jobs:
  run-integration-tests1:
    if: ${{ github.event.inputs.run-v1 == 'true' }}
    uses: ./.github/workflows/integration-test-v1.yml
    with:
      database: ${{ github.event.inputs.database1 }}
      engine: ${{ github.event.inputs.engine1 }}
    secrets:
      FIREBOLT_STG_USERNAME: ${{ secrets.FIREBOLT_STG_USERNAME }}
      FIREBOLT_STG_PASSWORD: ${{ secrets.FIREBOLT_STG_USERNAME }}

  run-integration-tests2:
    if: ${{ github.event.inputs.run-v2 == 'true' }}
    uses: ./.github/workflows/integration-test-v2.yml
    with:
      database: ${{ github.event.inputs.database2 }}
      engine: ${{ github.event.inputs.engine2 }}
      account: ${{ github.event.inputs.account }}
    secrets:
      FIREBOLT_CLIENT_ID_STG_NEW_IDN: ${{ secrets.FIREBOLT_CLIENT_ID_STG_NEW_IDN }}
      FIREBOLT_CLIENT_SECRET_STG_NEW_IDN: ${{ secrets.FIREBOLT_CLIENT_SECRET_STG_NEW_IDN }}

