name: Nightly integration tests v2

on:
  schedule:
    - cron: '30 3 * * *'        # Daily at 03:30 UTC
  workflow_dispatch:             # Allow manual trigger

jobs:
  nightly-integration-runs-v2:
    strategy:
      fail-fast: false # finish all jobs even if one fails
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java: [11, 17, 21]
        # https://packboard.atlassian.net/browse/FIR-45378 - there is a test failing on windows and java 11 related to timeouts
        exclude:
          - os: windows-latest
            java: 11
    uses: ./.github/workflows/integration-test-v2.yml
    with:
      os_name: ${{ matrix.os }}
      java_version: ${{ matrix.java }}
      sendSlackNotifications: true
    secrets:
      FIREBOLT_CLIENT_ID_STG_NEW_IDN: ${{ secrets.FIREBOLT_CLIENT_ID_STG_NEW_IDN }}
      FIREBOLT_CLIENT_SECRET_STG_NEW_IDN: ${{ secrets.FIREBOLT_CLIENT_SECRET_STG_NEW_IDN }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
