name: Nightly integration tests v1

on:
  schedule:
    - cron: '45 5 * * *'        # Daily at 05:45 UTC
  workflow_dispatch:             # Allow manual trigger

jobs:
  nightly-integration-runs-v1:
    strategy:
      fail-fast: false # finish all jobs even if one fails
      max-parallel: 2
      matrix:
        os: [ubuntu-latest]
        java: [11]
        # https://packboard.atlassian.net/browse/FIR-45378 - there is a test failing on windows and java 11 related to timeouts
        exclude:
          - os: windows-latest
            java: 11
    uses: ./.github/workflows/integration-test-v1.yml
    with:
      os_name: ${{ matrix.os }}
      java_version: ${{ matrix.java }}
      sendSlackNotifications: true
    secrets:
      FIREBOLT_PROD_USERNAME: ${{ secrets.FIREBOLT_PROD_USERNAME }}
      FIREBOLT_PROD_PASSWORD: ${{ secrets.FIREBOLT_PROD_PASSWORD }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
