name: Run performance tests

on:
  push:
  workflow_dispatch:
    inputs:
      database:
        description: 'Database (staging) - a new one will be created if not provided'
        required: false
        default: ''
      threads:
        description: 'Number of threads/users'
        required: false
        default: '10'
      loops:
        description: 'Number of iterations for every thread'
        required: false
        default: '50'

jobs:
#  build:
#    uses: ./.github/workflows/build.yml
  run-performance-test:
    runs-on: ubuntu-latest
#    needs: build
    steps:
#      - name: Check out code
#        uses: actions/checkout@v2
#      - name: Create dependency folder for JMX
#        run: |
#          mkdir dependencies
#      - name: Download uber-jar
#        id: download-jar
#        uses: actions/download-artifact@v2
#        with:
#          name: ${{ needs.build.outputs.uber-jar }}
#          path: dependencies
#      - name: Setup database and engine
#        id: setup
#        if: ${{ github.event.inputs.database == '' }}
#        uses: firebolt-db/integration-testing-setup@master
#        with:
#          firebolt-username: ${{ secrets.FIREBOLT_USERNAME }}
#          firebolt-password: ${{ secrets.FIREBOLT_PASSWORD }}
#          api-endpoint: "api.staging.firebolt.io"
#          region: "us-east-1"
#          instance-type: "B2"
#
#      - name: Determine database name
#        id: find-database-name
#        run: |
#          if ! [[ -z "${{ github.event.inputs.database }}" ]]; then
#             echo ::set-output name=database_name::${{ github.event.inputs.database }}
#          else
#             echo ::set-output name=database_name::${{ steps.setup.outputs.database_name }}
#          fi
#
#      - name: Run JMeter Tests
#        uses: rbhadti94/apache-jmeter-action@v0.5.0
#        with:
#          testFilePath: JDBC.jmx
#          dependencyFolder: dependencies
#          outputReportsFolder: reports/
#          args: -Jdatabase=${{ github.event.inputs.database }} -Jpassword=${{ secrets.FIREBOLT_PASSWORD }} -Jusername=${{ secrets.FIREBOLT_USERNAME }} -Jdriver=${{ needs.build.outputs.uber-jar }} -Jenvironment=staging -Jthreads=${{ github.event.inputs.threads }} -Jloops=${{ github.event.inputs.loops }}
#      - name: Upload results
#        uses: actions/upload-artifact@v2
#        with:
#          name: performance_test_report
#          path: reports
      - name: Adding summary
        run: |
          echo "### Test result :rocket:" >> $GITHUB_STEP_SUMMARY
          echo "| First Header  | Second Header |" >> $GITHUB_STEP_SUMMARY
          echo "| -------------  | ------------- |" >> $GITHUB_STEP_SUMMARY
          echo "| A  | B |" >> $GITHUB_STEP_SUMMARY

#
#      - name: Upload logs
#        uses: actions/upload-artifact@v2
#        with:
#          name: jmeter_log.log
#          path: jmeter_log.log