name: Unit tests

on:
  workflow_call:
  push:
    branches: [ master ]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Prepare java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '8'
          server-id: repsy
          server-username: REPSY_USER # Env variable name for user (defined on deploy step)
          server-password: REPSY_PASSWORD # Env variable name for password
      - name: Build with Gradle and run tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build